@import '../../shared/less/base.less';
@import '../../shared/less/media.less';
@import '../../shared/less/typography.less';

.frame {
  background: white;
padding: 0 16px;
}

.header {
  align-items: center;
  display: flex;
  padding: 10px 0;
  max-width: @max-page-width;
  margin: auto;

  @media @phone, @phablet, @console {
    padding: 1px 0;
  }
}

.logo {
  flex-grow: 1;

  @media @phone, @phablet, @console {
    text-align: center;
    margin-left: -24px;
  }
}

.links {
  display: block;

  @media @phone, @phablet, @console {
    display: none;
  }

}

.link {
  .heavy-link();
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.hamburger {
  order: -1;
  margin-left: -10px;
  display: none;

  @media @phone, @phablet, @console {
    display: block;
  }
}
