@import '../less/media.less';

.frame {
  padding: 0 20px;
}

.postcode-search {

  background: white;
  display: flex;
  padding: 3px;
  border-radius: 2px;
  margin: auto;
  max-width: 500px;

  &__input {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    margin: 0;
    outline: none;
    border: none;

  }

  &__button {
    background-color: rgb(38, 106, 189);
    border-radius: 2px;
    border-width: 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 12px 20px;
    white-space: nowrap;

    @media @phone {
      text-indent: -99999px;
      background-image: url(/assets/img/search-icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      min-width: 42px;
      min-height: 42px;
    }

    &:disabled {
      background-color: #ddd;
      color: #535353;
    }
  }
}
