@phone-max-width: 599px;
@tablet-min-width: 600px;
@tablet-max-width: 979px;
@desktop-min-width: 980px;
@phone: ~"only screen and (max-width: 479px)";
@tablet: ~"only screen and (min-width: 480px) and (max-width: 959px)";
@desktop: ~"only screen and (min-width: 960px)";
