@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:300,500|Ubuntu:300,400,500');

.ubuntu() {
  font-family: "Ubuntu", sans-serif;
  text-rendering: optimizeLegibility;
}

.hind-vadodara {
  font-family: "Hind Vadodara", "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

.link--heavy() {
  .ubuntu();
  font-weight: 500;
  font-size: 16px;
  color: rgb(38, 106, 189);
  text-decoration: none;
}

.heading() {
  .ubuntu();
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 64px;
}
.sub-heading() {
  .ubuntu();
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 28px;
}

.sub-sub-heading() {
  -webkit-font-smoothing: antialiased;
  .hind-vadodara();
  font-weight: 500;
  font-size: 22px;
}

.banner-heading() {
  -webkit-font-smoothing: antialiased;
  .ubuntu();
  font-weight: 300;
  font-size: 22px;
  color: rbg(51, 51, 51);}
