<nav>
  <a [routerLink]="['/']">Home</a> &gt;
  {{ (postcodeX$|async) | uppercase }}
</nav>
<ng-container [ngSwitch]="(restaurantsX$|async).status">
    <p *ngSwitchCase="restaurantsStatus.Loading">Loading</p>
    <p *ngSwitchCase="restaurantsStatus.Error">Error</p>
    <div *ngSwitchCase="restaurantsStatus.Okay">
      <h1>{{ (restaurantsX$|async).data.length }} restaurants in
        {{ (postcodeX$|async) | uppercase }}</h1>
      <ul>
        <li *ngFor="let restaurant of (restaurantsX$|async).data">
            <a [routerLink]="['/' + (postcodeX$|async) + '/'+restaurant.name]">
              {{ restaurant.title }}</a>
        </li>
      </ul>
    </div>
</ng-container>
