<app-header></app-header>
<div class="page">

  <nav class="breadcrumb">
    <a class="item" [routerLink]="['/']">Home</a>
    <span class="item">{{ (postcodeOrNull$|async) | uppercase }}</span>
  </nav>

  <div class="filters">
    <form class="search">
      <label class="search-label" for="search">Search</label>
      <input class="search-box" type="text" id="search" placeholder="Cuisine type or restaurant">
    </form>
    <a href="#filters" class="refine">Refine</a>
  </div>

  <div class="banner" >
    <h1 class="heading">{{ (restaurants$|async).length }} restaurants in {{ (postcodeOrNull$|async) | uppercase }}</h1>
    <a class="change-location" [routerLink]="['/']">change location</a>
  </div>

  <div class="results-frame">
    <div class="results">
      <div class="result" *ngFor="let restaurant of (openRestaurants$|async)">
        <app-result-seam
          [restaurant]="restaurant"
          [view$]="resultView$">
        </app-result-seam>
      </div>
    </div>
  </div>

  <div class="banner">
    <h1 class="heading">{{ (closedRestaurants$|async).length }} restaurants taking pre-orders for later</h1>
  </div>

  <div class="results-frame">
      <div class="results">
        <div class="result" *ngFor="let restaurant of (closedRestaurants$|async)">
          <app-result-seam
            [restaurant]="restaurant"
            [view$]="resultView$">
          </app-result-seam>
        </div>
      </div>
    </div>

</div>
