<app-header></app-header>
<div class="page">
  <nav class="breadcrumb">
    <a class="item" [routerLink]="['/']">Home</a>
    <span class="item">{{ (area$|async) | uppercase }}</span>
  </nav>
  <div class="banner">
    <h1 class="heading">{{ (restaurants$|async)?.data?.length }} restaurants in {{ (area$|async) | uppercase }}</h1>
  </div>
  <app-result-seam
    *ngFor="let restaurant of (restaurants$|async)?.data"
    [restaurant]="restaurant"
    [viewName$]="resultViewName$"></app-result-seam>
  </div>
