@import '../../shared/less/base.less';
@import '../../shared/less/media.less';
@import '../../shared/less/typography.less';

.page {
  min-height: 100vh;
  background-color: #95D600;
  display: flex;
  color: white;
  font-weight: 500;
}

.message {
  .ubuntu-heading();
  font-weight: 500;
  font-size: 40px;
  position: relative;
  display: inline-block;
  margin: auto;
}
