@import '../../shared/less/base.less';
@import '../../shared/less/media.less';
@import '../../shared/less/typography.less';

.page {
  text-align: center;
}

.message {
  .ubuntu-heading();
  font-weight: 400;
  font-size: 28px;
  position: relative;
  display: inline-block;
  margin: auto;
}
