<img src="/assets/img/logo.svg">
<div class="frame" [class.frame--debugging]="isDebugging$|async">
  <div class="app">
    <div *ngIf="!(isAdapted$|async)">LOADING...</div>
    <router-outlet></router-outlet>
  </div>
  <app-console class="console-container"></app-console>
</div>
<button class="debug-button debug-button--open" (click)="tapDebugOpen()" *ngIf="!(isDebugging$|async)">&#x2196;</button>
<button class="debug-button debug-button--close" (click)="tapDebugClose()" *ngIf="isDebugging$|async">&#x2198;</button>
