@import './shared/less/media';

@keyframes rotating {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.app {
  position: relative;
  @media @console {
    max-width: @phablet-max-width;
  }
}

.loading {
  text-indent: -99999px;
  width: 40px;
  height: 40px;
  background-image: url(/assets/img/progress.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: rotating .75s linear infinite;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50vh;
  display: block;
}


.console {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(~"100vw - @{phablet-max-width}");
  background: red;

  @media @console {
    display: block;
  }
}
