.result {
  border: 0 solid #eee;
  border-bottom-width: 1px;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;

  &__image {
    flex-grow: 0;
    margin-right: 20px;
    width: 50px;
  }

  &__heading {
    flex-grow: 1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}
