.console {
  background: #333;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;

  &__section {
    padding: 0 10px;
    flex-shrink: 0;
    flex-grow: 0;

    &--scroll {
      overflow: auto;
    }

    &--state, &--config {
      flex-shrink: 1;
    }

    &--adaptations {
      padding: 10px;
    }

    &--collapsed {
      display: none;
    }

    &--trace {
      height: 200px;
    }
  }

  &__heading {
    background-color: #666;
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;

    &--interactive {
      cursor: pointer;
    }

    .dim {
      opacity: .6;

      &--left {
        margin-right: 10px;
      }

      &--right {
        margin-left: 10px;
      }
    }

  }

  &__pre {
    color: #ccffcc;
    font-family: monospace;
    white-space: pre;
    padding-top: 10px;
  }
}
