<div class="console">
  <h2 class="console__heading">Log</h2>
  <div class="console__section console__section--trace console__section--scroll">
      <div class="console__pre">{{ trace }}</div>
  </div>
  <h2 class="console__heading console__heading--interactive"
    (click)="isAppStateVisible = !isAppStateVisible"
    [ngSwitch]="isAppStateVisible">
    <span *ngSwitchCase="true">Other slices <span class="dim dim--right">Config slice</span></span>
    <span *ngSwitchCase="false"><span class="dim dim--left">Other slices</span> Config slice</span>
  </h2>
  <div class="console__section console__section--state console__section--scroll"
    [class.console__section--collapsed]="!isAppStateVisible">
      <div class="console__pre">{{ (filteredState$|async)|json }}</div>
  </div>
  <div class="console__section console__section--config console__section--scroll"
    [class.console__section--collapsed]="isAppStateVisible">
      <div class="console__pre">{{ (config$|async)|json }}</div>
  </div>
</div>
