.console {
  background: #333;
  color: #ccffcc;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-grow: 1;
  flex-shrink: 0;
  font-family: monospace;
  height: 100%;
  overflow: auto;
  padding: 10px;
  white-space: pre;
  }
