@import '../../shared/less/media.less';
@import '../../shared/less/typography.less';

.top-background(@media-name) {
  background-image: linear-gradient(rgba(164,145,96,.45),rgba(255,255,255,0)),
    url('/assets/img/bg_magic_@{media-name}.jpg');
}

.top {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  @media @phone {
    .top-background("mobile");
    min-height: 340px;
  }

  @media @tablet {
    .top-background("tablet");
    min-height: 500px;
  }

  @media @desktop {
    .top-background("desktop");
    min-height: 510px;
  }

  &__headings {
    flex-grow: 1;
    padding-top:50px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__postcode-search {
    text-align: center;
    padding: 15px 10px 20px 10px;
    background: rgba(0,0,0,.3);
    width: 100%;
  }

  &__postcode-search-label {
    .hind-vadodara();
    font-weight: 500;
    font-size: 22px;
    color: white;
    margin-bottom: 15px;
    display: block;
  }
}

.head {
  margin: 0 0 10px 0;
  color: white;
  .heading();
}

.subhead {
  margin: 0;
  color: white;
  .sub-heading();
}

.middle {
  background-image: url(/assets/img/rays.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 320px;
}

.native-apps {
  display: flex;

  .ad {
    background-image: url(/assets/img/native-apps.png);
    background-repeat: no-repeat;
    background-size: 130px;
    display: inline-block;
    margin: auto;
    padding-left: 140px;
    width: 300px;
  }

  .heading {
    .ubuntu();
    font-weight: 500;
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
  }

  p {
    .hind-vadodara();
    font-weight: 300;
    font-size: 14px;
    color: #535353;
  }
}
